@import './../../../assets/mixins.scss';

.container {

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #403544;

  .dashboard-container {
    display: flex;
    @include md {
      width: 60%;
      height: 80%;
    }
    width: 80%;
    height: 80%;
    background: #231d25;
    border-radius: 20px;

    .reg-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      color: white;
      flex-flow: column;

      .help-buttons, .registrar, .forgot, .rep-type, mat-radio-button {
        color: white !important;
        button {
          color: white !important;
        }
      }

      .btn-entrar {
        margin-top: 1rem;
        text-align: center;
        width: 100%;
      }
    }
  }


}
