<div class="auth-container bg-[#005F73]">
  <div class="login-container justify-center bg-[#001219]">
    <div class="auth-form" class="flex w-100">
      <form [formGroup]="formGroup" class="flex flex-col justify-self-center align-middle self-center space-y-5">
        <div class="form form-group flex flex-col ">
            <label for="email" class="font-normal uppercase py-2 text-white text-sm">E-mail</label>
            <input type="email" formControlName="login" id="email" class="p-3 rounded-md">
        </div>
        <div class="form-group flex flex-col ">
          <label for="password" class="font-normal uppercase py-2 text-white text-sm">Senha</label>
          <input type="password" formControlName="senha" id="password" class="p-3 rounded-md">
        </div>
        <div class="help-buttons flex">
          <div class="registrar">
            <a class="text-[#E9D8A6] font-normal uppercase pr-4" [routerLink]="'/register'"> Registrar-se </a>
          </div>
          <div class="forgot">
            <a class="text-[#E9D8A6] font-normal uppercase pl-4">Esqueceu a senha?</a>
          </div>
        </div>
        <div class="btn-entrar flex w-full">
          <button
            class="btn-entrar w-full p-3 rounded-md font-medium uppercase text-[#E9D8A6] bg-[#005F73]"
            [routerLink]="'/dashboard'">
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
