<div class="auth-container">
  <div class="login-container">
    <div class="auth-form">
      <form [formGroup]="formGroup">
        <div class="form form-group">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="login">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput [type]="'password'" formControlName="senha">
          </mat-form-field>
        </div>
        <div class="help-buttons">
          <div class="registrar">
            <button mat-button [routerLink]="'/register'"> Registrar-se </button>
          </div>
          <div class="forgot">
            <button mat-button>Esqueceu a senha?</button>
          </div>
        </div>
        <div class="btn-entrar">
          <button mat-raised-button color="primary" class="btn-entrar" [routerLink]="'/dashboard'">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
