<div class="auth-container">
  <div class="login-container">
    <div class="auth-form">
      <form [formGroup]="formGroup">
        <div class="form form-group">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput [type]="'password'" formControlName="senha">
          </mat-form-field>
        </div>
        <div class="btn-entrar">
          <button mat-raised-button color="primary" class="btn-entrar">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
